.garg_logo {
    max-width: 200px; /* Set maximum width to make it responsive */
    height: auto;
    transition: opacity 2s ease-out;
  }
  
  .hamburger {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    padding: 0;
  }
  
  .hamburger.active rect {
    fill: #f00;
  }
  
  #mobile-nav {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px; /* Responsive padding */
  }
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust spacing as needed */
  }

  /* Hide on small screens (mobile) */
  
  @media (max-width: 768px) {
    .garg_logo {
      max-width: 150px; /* Adjust logo size for mobile */
    }
  
    .hamburger {
      margin-left: auto; /* Ensure hamburger aligns right */
    }
    .nav-links {
        display: none;
      }
  }
  